#a1 {
	border-radius: 5px
}

#a2 {
	-moz-border-radius: -.5px -25px
}

#a3 {
	-webkit-border-radius: 10px 5px 8px
}

#a4 {
	border-radius: 5px 6px 7px 8px
}

#b1 {
	border-radius: 10px
}

#b2 {
	-moz-border-radius: 5px 10px/6px
}

#b2 {
	-webkit-border-radius: 5px 10px 8px/6px 8px
}

#b4 {
	border-radius: 7px 5px 5px
}

#b5 {
	border-radius: 5px 6px 7px 8px
}
