@charset 'utf-8';
@import 'import4.css' tv,print;
@import 'yesterday.css';
@import 'today.css';
@media all {
	* html div {
		color: #000;
		font-size: 12pt
	}
	
	div > p.example {
		font-size: 15px!important
	}
	
	h1, h2, h3 > a {
		font-size: 25.3pt
	}
}

body > div[title='spacing test\'s'] + a[href$=nospace] :first-child {
	color: #000;
	background: #fff url(http://www.example.com/body-bg.png?a=semi;);
	margin: 0 auto;
	padding: 10px .001px
}

p, a:hover, p:hover {
	font: small-caps 700 12px/-1pt gerogia,serif;
	text-align: justify;
	color: red;
	background: #ac54bd
}

pre, code, div.code {
	color: red
}

div.same {
	color: red!important;
	font-size: 15.2%;
	margin: 20px;
	background: red;
	content: 0!important
}
