/*

A good portion of this test file was takin directly from http://www.phpied.com/css-railroad-diagrams/,
and keyframe chunk from http://webkit.org/blog/324/css-animation-2/

*/
@charset "UTF-8";

@import "stuff.css";
@import url("crazyurl.css?semi=yes;&email=corey@codenothing.com");
@import url(stuff.css);
@import url(stuff.css) print, handheld;
@import url(stuff.css) screen and (color);
@import "stuff.css" screen and (color), projection and (min-color: 256);

@namespace svg "http://www.w3.org/2000/svg";
@namespace svg url(http://www.w3.org/2000/svg);
@namespace "http://example.org";
@namespace empty "";
@namespace "";

@somefuturehack "testing.spec";

@keyframes 'diagonal-slide' {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: 100px;
		top: 100px;
	}
}

@-webkit-keyframes pulse {
	0% {
		background-color: red;
		opacity: 1.0;
		-webkit-transform: scale(1.0) rotate(0deg);
	}
	33% {
		background-color: blue;
		opacity: 0.75;
		-webkit-transform: scale(1.1) rotate(-5deg);
	}
	67% {
		background-color: green;
		opacity: 0.5;
		-webkit-transform: scale(1.1) rotate(5deg);
	}
	100% {
		background-color: red;
		opacity: 1.0;
		-webkit-transform: scale(1.0) rotate(0deg);
	}
}

@media screen {
	margin: 20px;
}

@media print and (color), projection and (device-aspect-ratio: 16/9) {
	@page :left {
		@bottom-left-corner {
			margin: 2cm;
		}
	}
}

@media only screen and (max-device-width: 480px) {
	#bigbanner {
		display: none;
	}
}

#mydiv {
	color: red;
}

@media print {
	@page mine :left {
		margin: 1cm;
		@bottom-left-corner {
			margin: 2cm;
		}
	}
}

@page {
	size: A4 landscape;
}
