body {
	font-size: 10pt;
}

table{
	width: 100%;
	font-size: 9pt;
}

h2{
	margin: 2px;
}

input[type='checkbox'] {
	font-size: 8pt;
}

label {
	display: block;
	padding: 5px 2px;
}

label.odd {
	background: #EEEDED;
}

textarea{
	width: 100%;
	height: 450px;
	font-size: 8pt;
}

iframe {
	width: 95%;
	height: 475px;
}

button.compress {
	float: right;
	padding: 2px 5px;
}

div.example {
	padding-left: 25px;
	font-style: italic;
}

div.control {
	background: #DADAE7;
	border: 2px solid #ADC6F0;
	padding: 5px;
}

div.options {
	display: none;
	height: 400px;
	overflow: auto;
	border-right: 2px solid #ADC6F0;
	border-left: 2px solid #ADC6F0;
	border-bottom: 2px solid #ADC6F0;
}

#results {
	width: 1000px;
	background: #E8DCFF;
	margin: 20px 40px;
	padding: 20px;
	border: 1px solid #989898;
}
