/**
 * CSS Compressor [VERSION]
 * [DATE]
 * Corey Hart @ http://www.codenothing.com
 */ 
body {
	font-size: 10pt;
}

table{
	width: 100%;
	font-size: 9pt;
}

h2{
	margin: 2px;
}

input[type='checkbox'] {
	font-size: 8pt;
}

label {
	display: block;
	padding: 5px 2px;
}

label.odd {
	background: #EEEDED;
}

textarea{
	width: 100%;
	height: 450px;
	font-size: 8pt;
}

iframe {
	display: none;
	width: 85%;
	height: 475px;
	margin: 10px auto;
}

button.compress {
	float: right;
	padding: 2px 5px;
}

span.example {
	display: block;
	padding-left: 25px;
	font-style: italic;
}

div.control {
	background: #DADAE7;
	border: 1px solid #0f2852;
	padding: 5px;
	margin-top: 1px;
}

div.options {
	height: 420px;
	overflow: auto;
	border-right: 1px solid #0f2852;
	border-left: 1px solid #0f2852;
	border-bottom: 1px solid #0f2852;
}

#results {
	width: 1000px;
	background: #E8DCFF;
	margin: 20px 40px;
	padding: 20px;
	border: 1px solid #989898;
}
